@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #E5E5E5;;
    width: 375px;
    margin: auto;
    overflow-y: scroll;
    word-wrap: break-word;
}

.top {
    height: 80px;
    width: 375px;
    background-color: #FFFFFF;;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.top img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.top ion-icon {
    font-size: 50px;
    margin-right: 22px;
}

.mid {
    padding-top: 80px;
    height: 587px;
    font-size: 14px;
    
}

.bottom {
    height: 80px;
    width: 375px;
    background-color: #FFFFFF;;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.all-box-msg {
    padding-top: 26px;
}

.box-message {
    width: 375px;
    background-color: #FFFFFF;
    margin-bottom: 4px;
    padding: 10px;

}

.box-private_message {
    width: 375px;
    background-color: #FFDEDE;
    margin-bottom: 4px;
    padding: 10px;

}


.box-status {
    width: 375px;
    background-color: #DCDCDC;
    margin-bottom: 4px;
    padding: 10px;

}

.msg-time {
    color: #AAAAAA;

}

.msg-name {
    margin-left: 3px;
    font-weight: 700;
}

.msg-text {
    margin-left: 3px;
}

textarea {
    width: 70%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    resize: none;
    display: flex;
    align-items: center;
    padding-top: 25px;
    font-family: 'Roboto', sans-serif;
}

textarea::placeholder {
    color: black;
    font-style: italic;
}

.bottom ion-icon {
    font-size: 30px;
    cursor: pointer;
}


@media (max-width: 375px) {
    
    .container {
        width: 100%;
        margin: 0;
    }
}